{% include "header.html" %}
{% include "partials/nav.html" %}
{% include "partials/search.html" %}
  <main id="main">
    {% if page.title is present %}<hgroup><h1>{{ page.title | e }}</h1></hgroup>{% endif %}
    {{ content }}

    <ul class="archive-list">
    {% for p in site.pages | selectattr("date") | rejectattr("is_index") | rejectattr("draft") | selectattr("language", "equalto", page_language) | sort(attribute="date", reverse=true) %}
      <li class="archive-entry">
        <time datetime="{{ p.date }}">{{ p.date }}</time>
        <a href="{{ base_url }}{{ p.url }}">{{ p.title | e }}</a>
      </li>
    {% endfor %}
    </ul>
  </main>
{% include "footer.html" %}
